header {
  //background-color: black;
  background-color: #B82619;
  //unfortunately users have to reload the page after changing the window width
  font-size: calc(min(#{$max-body-width} * 0.044, 4.4vw));
  a {
    //color: white;
    color: #B82619;
    display: block;
    text-decoration: none;
    &:nth-child(1) {
      //background-color: #4B176A;
      background-color: #E6DFCF;
      display: flex;
      padding: 0.5em;
      img {
        height: 2.5em;
        margin-right: 0.5em;
      }
      em {
        display: flex;
        flex-direction: column;
        span {
          &:nth-child(1) {
            font-weight: bold;
            padding: 0.2em 0 0.1em;
          }
          &:nth-child(2) {
            font-size: 0.6em;
            padding-left: 2.5em;
          }
        }
      }
    }
    &:nth-child(2) {
      font-size: 0.7em;
      padding-left: 1.5em;
    }
  }
}
