.img-left {
  float: left;
  margin: 0 1rem 1rem 0;
}
.img-right {
  float: right;
  margin: 0 0 1rem 1rem;
}
.img-center {
  float: none;
  margin: 1rem;
}
.img-small {
  width: calc(min(#{$max-body-width} * 0.2, 20vw));
}
.img-large {
  width: calc(min(#{$max-body-width} * 0.3, 30vw));
}
.img-xlarge {
  width: calc(min(#{$max-body-width} * 0.4, 40vw));
}
.img-xxlarge {
  width: calc(min(#{$max-body-width} * 1.0, 100vw));
}
