<div class="carousel">
  <strong>{{ include.title }}</strong>
  <div>
    <figure>
      <img src="{{ include.image1 | prepend: 'assets/images/'| relative_url }}" alt="">
      <figcaption>{{ include.caption1 }}</figcaption>
    </figure>
    <figure>
      <img src="{{ include.image2 | prepend: 'assets/images/'| relative_url }}" alt="">
      <figcaption>{{ include.caption2 }}</figcaption>
    </figure>
    <figure>
      <img src="{{ include.image3 | prepend: 'assets/images/'| relative_url }}" alt="">
      <figcaption>{{ include.caption3 }}</figcaption>
    </figure>
    <figure>
      <img src="{{ include.image4 | prepend: 'assets/images/'| relative_url }}" alt="">
      <figcaption>{{ include.caption4 }}</figcaption>
    </figure>
  </div>
</div>
