<strong>Menü</strong>
<div>
  <div>
    <a href="{{ 'eugen-rosenstock-huessy/' | relative_url }}"><strong>Wer ist Eugen Rosenstock-Huessy</strong></a>
    {% assign lists = site.lists | sort: "row" %}
    {% for list in lists %}
      <a href="{{ list.url | relative_url }}" class="{% if list.used-categories contains page.category %}breadcrumb{% endif %}">{{ list.menu | default: list.title }}</a>
    {% endfor %}
  </div>
</div>
