<div>
  <a class="btn" href="{{ 'rundbriefe' | relative_url }}">Liste der Rundbriefe</a>
  <a class="btn" href="{{ 'rundbriefe-mit-zitaten' | relative_url }}">… mit Zitaten</a>
  <a class="btn" href="{{ 'rundbriefe-mit-inhaltsverzeichnis-ohne-sprecher' | relative_url }}">… mit Inhaltsverzeichnis</a>
</div>
