---
tab_title: Mitweg mit Eugen Rosenstock-Huessy
description: Eckart Wilkens hat viele Beiträge zum Werk von Rosenstock-Huessy geleistet
---

<p>
  Diese Website macht Beiträge und Bearbeitungen von Eckart Wilkens zu
  Eugen Rosenstock-Huessy online zugänglich.
</p>

{% assign articles = site.articles | where: "landingpage", "front" | sort: "order-lp" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <h2>{{ article.title }}</h2>
      {{ article.excerpt }}
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
      <hr>
    </div>
  {% endfor %}
</div>

<div>
  <br/>
  <br/>
  <br/>
  <hr>
</div>
<h3>Letzte Änderungen</h3>
{% assign articles = site.articles |  sort: "published" | reverse %}
<div class="articles">
  {% for article in articles limit:10 %}
    <div>
      {{ article.published | append: ": " }}<a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>
<a href="{{ '/zz-all-pages' | relative_url }}">{{ "Seitenübersicht" }}</a>
