---
title: All Pages
category: kontakt
---

{% assign articles = site.articles |  sort: "published" | reverse %}
{% assign article-count = 0 %}
<div class="articles">
  {% for article in articles  %}
    <div>
      {{ article.published | default: 2021 | append: ": " }}<a href="{{ article.url | relative_url }}">{{ article.title }}</a>
      {% assign article-count = article-count | plus: 1 %}
    </div>
  {% endfor %}
</div>

<h3>Lists</h3>
{% assign list-count = 0 %}
<div class="articles">
  {% for list in site.lists %}
    <div>
      <a href="{{ list.url | relative_url }}">{{ list.title }}</a>
      {% assign list-count = list-count | plus: 1 %}
    </div>
  {% endfor %}
</div>

<h3>Homepage</h3>
<div class="articles">
  {% for index in site.index %}
    <div>
      <a href="{{ index.url | relative_url }}">{{ "Homepage" }}</a>
    </div>
  {% endfor %}
</div>

<p><i>Statistics: Pages: {{ article-count }}, Lists: {{ list-count }}, Homepages: 1</i></p>
