---
title: Textbearbeitungen
menu: Bearbeitungen
row: 3
used-categories:
- methodik
- bearbeitung
---
<h4> Zur Methodik: </h4>
{% assign articles = site.articles | where: "category", "methodik" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>

<h4> Zu den Texten: </h4>
{% assign articles = site.articles | where: "category", "bearbeitung" | sort: "created" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>
