---
title: Zur Person Eckart Wilkens
menu: Eckart Wilkens
row: 6
used-categories: eckart
---
<img src="{{ 'assets/images/Eckart-Wilkens2.jpg' | relative_url }}" class="img-right img-large" alt="Eugen Rosenstock-Huessy">

{% assign articles = site.articles | where: "category", "eckart" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>
