---
title: Kontakt
row: 8
used-categories: kontakt
---
<p>
  Diese Website macht Beiträge und Bearbeitungen von Eckart Wilkens zu
  Eugen Rosenstock-Huessy online zugänglich. Die Rechte von Beiträgen und Bearbeitungen
  liegen bei der ©Vermächtnisgemeinschaft Eckart Wilkens.
</p>
<p>
    Die
    <a href="{{ '/zz-all-pages' | relative_url }}">{{ "Seitenübersicht" }}</a>
    enthält eine Liste aller Seiten.
</p>
<p>
  Die Texte sind für den persönlichen Gebrauch bestimmt. Alle weitergehende Nutzung
  (insbesondere kommerzieller Art) bedürfen der schriftlichen Zustimmung der
  ©Vermächtnisgemeinschaft Eckart Wilkens.
</p><p>
  Die Rechte für die originalen Texte von Eugen Rosenstock-Huessy liegen beim
  <a href="https://www.erhfund.org">Eugen Rosenstock-Huessy Fund</a>.
</p>
<p>
  <a href="mailto:info.erhg@gmail.com">Email to EckartWilkens.org</a>
</p>
<p>
  Verantwortlich für den Internetauftritt<br>
  Jürgen Müller
</p>

<hr>
