---
title: Editing American Lectures
menu: Lectures
row: 4
used-categories: lectures
---
{% assign articles = site.articles | where: "category", "lectures" | sort: "created" %}
<div class="articles">
  {% for article in articles %}
    <div>
      <a href="{{ article.url | relative_url }}">{{ article.title }}</a>
    </div>
  {% endfor %}
</div>
